[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nguyen Duc Duy
	email = 80969189+ngduy0105@users.noreply.github.com
